
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/co-operative/v16/.suo
.vs/VSWorkspaceState.json
.vs
*.git*
*.sql
*.pdf
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
application/config/config.php
application/config/database.php
application/config/constant.php
application/logs
application/cache
.git-ftp.log
.htaccess
error_log
.ftp-deploy-sync-state.json
application/config/database.php
